  .post-1 {
    background: #b71757;
  }
  .post-2 {
    background: #0d7e71;
  }
  .post-3 {
    background: #b1660e;
  }
  .post-4 {
    background: #d12767;
  }
  .post-5 {
    background: #2d95bb;
  }

  body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    background-color: #0b192f;
    margin: 0;
    padding: 0;
    max-width: 1024px;
    margin: 0 auto;
  }

  header {
    display: flex;
    height: 10vh;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #162b4d;
    color: white;
    justify-content: space-between;
  }

  header a {
    text-decoration: none;
    color: white;
    padding: 2.5vh;
  }

  header .logo {
    display: flex;
    justify-content: flex-start;
  }

  .logo p {
    font-size: 3vw;
    font-weight: lighter;
    margin: 1vh 0 0 3vw;
  }

  .logo span {
    color: #cb2866;
  }

  nav {
    display: flex;
    padding-top: 1vh;
    justify-content: flex-end;
    margin-right: 6vw;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  main {
    width: 100%;
    margin: 30px 30px 30px 0;
  }

  article {
    display: flex;
    justify-content: space-between;
    color: white;
    line-height: 2.5vh;
    overflow: hidden;
    flex-direction: row;
  }

  article div {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }

  article div p {
    margin: 20px;
    font-size: 20px;
   }

  h2 {
    font-size: 30px;
    font-weight: lighter;
    width: 40%;
    line-height: 3rem;
  }

  article div img {
    width: 100%;
    height: 100%;
  }

  article div:hover,
  img:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

  a:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70) #b8b8b8;
  }

  article:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
    justify-items: right;
    align-content: flex-end;
    position: relative;
  }

  article:nth-child(odd) {
    flex-direction: row;
    text-align: left;
    position: relative;
  }

  article:nth-child(even) h2 {
    display: flex;
    text-align: right;
    margin: 7vh 6rem 1rem auto;
    right: 8em;
  }

  article:nth-child(odd) h2 {
    display: flex;
    text-align: left;
    margin: 7vh 6rem 1rem 1.5rem;
  }

  article:nth-child(even).post-4 {
    flex-direction: row-reverse;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }

  article:nth-child(even).post-4 h2 {
    text-align: center;
    margin: 0 auto;
  }

  footer {
    display: flex;
    height: 10vh;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #162b4d;
    color: white;
    justify-content: space-between;
  }

  footer div p {
    margin: 0;
  } 